@inherits LayoutComponentBase

@using Blazored.LocalStorage
@using GloboCrypto.PWA.Models
@using GloboCrypto.PWA.Services

@inject IAppStorageService AppStorageService
@inject IJSRuntime JSRuntime

<BlazoredToasts />

<div id="mainBody" class="page">
    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code
{
    private LocalSettings localSettings;

    protected override async Task OnInitializedAsync()
    {
        localSettings = (await AppStorageService.GetLocalSettingsAsync()) ?? new LocalSettings { RefreshInterval = 30, Currency = "GBP", PriceChangeInterval = "1d" };
        try
        {
            await JSRuntime.InvokeVoidAsync("DarkModeInterop.ChangeTheme", localSettings.DarkModeEnabled);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error in MainLayout.razor::OnInitializedAsync: {ex.ToString()}");
        }
    }

}